Django>=4.0
mysqlclient         # Keep for local dev if you want, but PostgreSQL is recommended
psycopg2-binary     # Required for PostgreSQL
dj-database-url     # Helps handle DATABASE_URL on Render
python-dotenv
django-crispy-forms
crispy-bootstrap5
whitenoise
gunicorn
django-storages
boto3
qrcode
pillow
